.label-aviso {
    -fx-text-fill: lightgray;
    -fx-font-style: italic;
    -fx-font-size: 14px;
}

.menu-bar {
    -fx-background-color: #1e1e1e;
}

.menu-bar .label {
    -fx-text-fill: white;
}

.menu {
    -fx-text-fill: white;
}

.menu-item {
	-fx-background-color: #2b2b2b;
    -fx-text-fill: white;
	-fx-font-weight: normal;
}

.menu-item:hover {
    -fx-background-color: #3a3a3a;
}

.context-menu {
    -fx-background-color: #2b2b2b;
}

.context--menu .label {
    -fx-text-fill: white;
}

.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
	-fx-background-color: #121212;
}

.hbox {
	-fx-alignment: center;
}

.label {
    -fx-text-fill: white;
}

.text-field, .password-field {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #888;
    -fx-border-color: #3c3c3c;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.text-field:readonly {
    -fx-background-color: #1f1f1f;  
    -fx-text-fill: #bbbbbb;       
    -fx-opacity: 1.0;          
}

.text-field {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
}

.date-picker {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
    -fx-border-color: #3c3f41;
    -fx-focus-color: #3c3f41;
    -fx-faint-focus-color: transparent;
}

.date-picker-popup > .month-year-pane,
.date-picker-popup > .calendar-grid {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: white;
}

.date-picker-popup .calendar-grid .day-name-cell {
    -fx-background-color: #2b2b2b;
    -fx-text-fill: white;
}

.date-picker-popup .calendar-grid .today {
    -fx-text-fill: #ffcc00; 
}

.date-picker-popup .calendar-grid .day-cell:hover {
    -fx-background-color: #3c3f41;
}

.button {
    -fx-background-color: #3a3a3a;
    -fx-text-fill: white;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
	-fx-font-size: 12px; 
	-fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #5a5a5a;
}

.grid-pane {
	-fx-alignment: center;
    -fx-background-color: #1a1a1a;
    -fx-padding: 20;
    -fx-hgap: 8;
    -fx-vgap: 8;
    -fx-border-color: #333;
    -fx-border-width: 1;
    -fx-background-radius: 6;
}

.vbox {
	-fx-alignment: center;
    -fx-background-color: #1a1a1a;
    -fx-padding: 20;
    -fx-hgap: 8;
    -fx-vgap: 8;
    -fx-border-color: #333;
    -fx-border-width: 1;
    -fx-border-radius: 1;
    -fx-background-radius: 6;
}

.table-view {
    -fx-background-color: #2b2b2b;
    -fx-table-cell-border-color: #3a3a3a;
	-fx-table-header-border-color: #3a3a3a;
    -fx-control-inner-background: #2b2b2b;
    -fx-text-background-color: white;
    -fx-border-color: transparent;
    -fx-selection-bar: #3c3f41;
    -fx-selection-bar-non-focused: #3c3f41;
}

.table-row-cell {
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-background-color: transparent;
	-fx-border-color: #3a3a3a;
	-fx-border-width: 0 0 1px 0;
}

.table-row-cell:filled:selected {
    -fx-background-color: #3c3f41;
}

.table-column {
    -fx-alignment: CENTER-LEFT;
}

.table-view .column-header-background {
    -fx-background-color: #1e1e1e;
}

.table-view .column-header, 
.table-view .filler {
    -fx-size: 28px;
    -fx-border-color: transparent;
    -fx-background-color: #1e1e1e;
}

.table-view .column-header .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.custom-alert {
    -fx-background-color: #2b2b2b;
}

.custom-alert .content.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.custom-alert .header-panel {
    -fx-background-color: #2b2b2b;
}

.custom-alert .header-panel .label {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.custom-alert .button-bar .button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.combo-box {
	-fx-background-color: #2b2b2b;
	-fx-border-color: #3c3f41;
	-fx-border-radius: 5px;
	-fx-text-fill: white;
	-fx-font-weight: bold;
}

.combo-box .list-cell {
	-fx-background-color: #2b2b2b;
	-fx-text-fill: white;
}

.combo-box .list-view {
	-fx-background-color: #1e1e1e;
}

.combo-box:hover {
	-fx-background-color: #3c3f41;
}

.combo-box:focused {
	-fx-border-color: #3c3f41;
	-fx-background-insets: 0;
	-fx-border-width: 1px;
	-fx-box-shadow: none;
}

.combo-box-popup .list-cell:hover {
	-fx-background-color: #3c3f41;
	-fx-text-fill: white;
}

.text-area {
	-fx-control-inner-background: #2b2b2b;
	-fx-background-insets: 0;
	-fx-border-insets: 0;
	-fx-background: transparent;
	-fx-border-radius: 0;
	-fx-padding: 5;
	-fx-text-fill: white;
	-fx-highlight-fill: #444444;
	-fx-highlight-text-fill: white;
	-fx-border-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-background-color: #2b2b2b;
}

.text-area .content {
	-fx-background-color: #2b2b2b;
}

.text-area:focused {
	-fx-border-color: transparent;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.popup-layout {
    -fx-background-color: #2b2b2b;
    -fx-background-radius: 10;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0);
}

.popup-button:focused, .popup-layout:focused {
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.popup-label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-wrap-text: true;
    -fx-alignment: center;
}

.popup-button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
    -fx-padding: 6 16 6 16;
    -fx-font-size: 13px;
    -fx-background-radius: 6;
}